@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bs-primary: #2c7cfd;
    --bs-secondary: #94989b;
    --bs-success: #47b164;
    --bs-indigo: #6610f2;
    --bs-info: #4dd8fc;
    --bs-warning: #fbbd04;
    --bs-danger: #ed5449;
    --bs-light: #f8f9fa;
    --bs-dark: #4a4e51;
    --bs-primary-rgb: 44,124,253;
    --bs-secondary-rgb: 148,152,155;
    --bs-success-rgb: 71,177,100;
    --bs-info-rgb: 77,216,252;
    --bs-warning-rgb: 251,189,4;
    --bs-danger-rgb: 237,84,73;
}
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 13px;
  /*color: #6a6e83;*/
  color: #7b7d91;
  overflow-x: hidden;
  background: #f5f8fa
}
a {
    text-decoration: initial;
    cursor: pointer;
}
a:hover {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}
strong {
    font-weight: 500;
}
.fw-bold {
    font-weight: 600!important;
}
.login {
    padding: 50px 0;
    background-color:#FFF;
}
.login .logo {
    width: 100px;
    margin-bottom: 50px;
}
.login .card {
    box-shadow: 0px 0px 80px 0px rgb(77 84 124 / 9%);
    border:none;
}
.login .form-control {
    background-color: #EBEDF3;
    border-color: #EBEDF3;
    color: #3F4254;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}
.page .header-top {
    height: 60px;
    background: #fff;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 5px 10px 0px rgb(54 74 99 / 5%);
    z-index: 1000;
    position: fixed;
    top: 0
}
.page .header-top .logo {
    width: 60px;
}
.page .header-top .accounts .dropdown-menu{
    box-shadow: 0px 0px 80px 0px rgb(77 84 124 / 9%);
    border:none;
    border-radius: 10px;
}
.page .header-top .accounts .dropdown-menu .accounts-info {
    background: #f5f8fa;
    border-radius: 10px;
}
.page .header-top .accounts .dropdown-menu .dropdown-inner {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.page .header-top .accounts .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size:13px;
    color: #7b7d91;
}
.page .header-top .accounts .dropdown-menu .dropdown-item:hover{
    background:#fafafa;
}
.page .header-top .accounts .dropdown-menu .dropdown-divider {
    border: 0;
    background: rgb(0 0 0 / 30%);
}
/* notification */
.page .header-top .notification {
    position: relative;
}
.page .header-top .notification .notification-count i{
    font-size: 25px;
}
.page .header-top .notification .notification-count .notification-count-number{
    padding: 2px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    position: absolute;
    font-size: 10px;
    top: -10px;
    right: -10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* nav menu */
.page .nav-menu * {
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.page .nav-menu {
    background: #fff;
    position: fixed;
    top:60px;
    left:0;
    width: 280px;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    /*border-right: 1px solid #ebeef2;*/
    box-shadow: 0 0 28px 0 rgb(82 63 105 / 5%);
    z-index: 999;
    height: 100%;
    overflow: hidden;
    position: fixed;
}
.page .nav-menu .nav-menu-items {
    padding: 20px 0;
}
.page .nav-menu .nav-menu-items .menu-section {
    padding: 20px 0;
    margin-bottom: 10px;
    position: relative;
}
.page .nav-menu .nav-menu-items .nav-menu-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    float: none;
    padding: 0;
}
.page .nav-menu .nav-menu-items .accordion {
    list-style: none;
    padding: 0;
    max-height: calc(100vh - 5rem);
    overflow-y: auto;
    overflow-x: hidden;
}
.page .nav-menu .nav-menu-items .menu-section .menu-text {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #7E8299;
    padding: 0 20px;
    white-space: nowrap;
    margin: 0;
    height: 20px;
    position: absolute;
}
.page .nav-menu .nav-menu-items .menu-section i {
    opacity: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #dcdcdc;
    padding: 0 20px;
    text-align: center;
    margin: 0;
    height: 20px;
    position: absolute;
}
.page .nav-menu .nav-menu-items .nav-menu-link {
    padding: 10px 20px;
    cursor: pointer;
    min-height: 40px;
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    text-decoration: none;
    position: relative;
    outline: none;
}
.page .nav-menu .nav-menu-items .nav-menu-item:hover .nav-menu-link,
.page .nav-menu .nav-menu-items .nav-menu-link.active {
    background-color: #f5f8fa;
}
.page .nav-menu .nav-menu-items .nav-menu-item:hover .nav-menu-link span,
.page .nav-menu .nav-menu-items .nav-menu-link.active span {
    color: #ed3237;
}
.page .nav-menu .nav-menu-items .nav-menu-item:hover .nav-menu-link i,
.page .nav-menu .nav-menu-items .nav-menu-link.active i {
    color: #ed3237;
}
.page .nav-menu .nav-menu-items .nav-menu-link span {
    color: #3F4254;
    font-weight: 500;
    font-size: 13px;
    text-transform: initial;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0;
}
.page .nav-menu .nav-menu-items .nav-menu-link i{
    flex: 0 0 35px;
    font-size: 16px;
    color: #e3e4ea;
}
.page .nav-menu .nav-menu-items .nav-menu-link .nav-menu-arrow {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 0;
}
.page .nav-menu .nav-menu-items .nav-menu-items-sub {
    list-style: none;
    padding: 0;
}
.page .nav-menu .nav-menu-items .nav-menu-items-sub {
    padding: 10px 0
}
.page .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link{
    padding: 10px 25px;
    padding-left: 60px;
    cursor: pointer;
    min-height: 40px;
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    text-decoration: none;
    position: relative;
    outline: none;
}
.page .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link span {
    color: #3F4254;
    font-size: 13px;
    text-transform: initial;
    font-weight: 500;
}
.page .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link:hover span,
.page .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link:hover i,
.page .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link.active  span,
.page .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link.active  i{
    color: #ed3237;
}
.page .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link i {
    font-size: 14px;
    color: #e3e4ea;
    margin-right: 10px;
}
/* content*/
.page .eclo-content {
    margin-top: 60px;
    margin-left: 280px;
    margin-bottom: 100px;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

/* small menu */
.page.nav-menu-small .nav-menu {
    width: 60px;
}
.page.nav-menu-small .nav-menu:hover {
    width: 280px;
}
.page.nav-menu-small .nav-menu .nav-menu-items .nav-menu-link span{
    display: none;
}

.page.nav-menu-small .nav-menu .nav-menu-items .nav-menu-item .accordion-collapse.show {
   display: none
}
.page.nav-menu-small .nav-menu .nav-menu-items .menu-section .menu-text ,
.page.nav-menu-small .nav-menu:hover .nav-menu-items .menu-section i {
    opacity: 0;
}
.page.nav-menu-small .nav-menu .nav-menu-items .menu-section i,
.page.nav-menu-small .nav-menu:hover .nav-menu-items .menu-section .menu-text  {
    opacity: 1;
}
.page.nav-menu-small .nav-menu:hover .nav-menu-items .nav-menu-link span,
.page.nav-menu-small .nav-menu:hover .nav-menu-items .menu-section .menu-text  {
    display: initial;
}
.page.nav-menu-small .nav-menu:hover .nav-menu-items .nav-menu-item .accordion-collapse.show{
    display: block !important;
}
.page.nav-menu-small .eclo-content {
    margin-left: 60px;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.btn {
    font-weight: 500;
    border-radius: .475rem;
    font-size: 0.9rem;
}
.btn-light {
    color: #6a6e83;
    background-color: #f5f8fa;
    border-color: #f5f8fa;
}
.btn-primary {
    color: #fff;
    border-color: #009ef7;
    background-color: #009ef7;
}
.btn-primary:hover {
    color: #fff;
    border-color: #0095e8;
    background-color: #0095e8;
}
.btn-indigo {
    color: #fff;
    border-color: #6610f2;
    background-color: #6610f2;
}
.btn-indigo:hover {
    color: #fff;
    border-color: #590dd4;
    background-color: #590dd4;
}
/* color */
/*.btn-primary {
    color: #fff;
    background-color: #2c7cfd;
    border-color: #2c7cfd;
}
.btn-danger {
    color: #fff;
    background-color: #ed5449;
    border-color: #ed5449;
}
.btn-info {
    color: #fff;
    background-color: #4dd8fc;
    border-color: #4dd8fc;
}
.btn-warning {
    color: #fff;
    background-color: #fbbd04;
    border-color: #fbbd04;
}
.btn-success {
    color: #fff;
    background-color: #47b164;
    border-color: #47b164;
}
.btn-secondary {
    color: #fff;
    background-color: #94989b;
    border-color: #94989b;
}
.btn-dark {
    color: #fff;
    background-color: #4a4e51;
    border-color: #4a4e51;
}
.btn-light {
    color: #333;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}
.btn-primary:hover,.btn-primary:focus,.btn-outline-primary:hover,.btn-outline-primary:focus,.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #276ee0;
    border-color: #276ee0;
}
.btn-danger:hover,.btn-danger:focus,.btn-outline-danger:hover,.btn-outline-danger:focus,.btn-check:active+.btn-outline-danger, .btn-check:checked+.btn-outline-danger, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show, .btn-outline-danger:active {
    color: #fff;
    background-color: #dc4d42;
    border-color: #dc4d42;
}
.btn-info:hover,.btn-info:focus,.btn-outline-info:hover,.btn-outline-info:focus,.btn-check:active+.btn-outline-info, .btn-check:checked+.btn-outline-info, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show, .btn-outline-info:active {
    color: #fff;
    background-color: #4bc8e8;
    border-color: #4bc8e8;
}
.btn-warning:hover,.btn-warning:focus,.btn-outline-warning:hover,.btn-outline-warning:focus,.btn-check:active+.btn-outline-warning, .btn-check:checked+.btn-outline-warning, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show, .btn-outline-warning:active {
    color: #fff;
    background-color: #eab104;
    border-color: #eab104;
}
.btn-success:hover,.btn-success:focus,.btn-outline-success:hover,.btn-outline-success:focus,.btn-check:active+.btn-outline-success, .btn-check:checked+.btn-outline-success, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show, .btn-outline-success:active {
    color: #fff;
    background-color: #42a25c;
    border-color: #42a25c;
}
.btn-secondary:hover,.btn-secondary:focus,.btn-outline-secondary:hover,.btn-outline-secondary:focus,.btn-check:active+.btn-outline-secondary, .btn-check:checked+.btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
    color: #fff;
    background-color: #76797b;
    border-color: #76797b;
}
.btn-dark:hover,.btn-dark:focus,.btn-outline-dark:hover,.btn-outline-dark:focus,.btn-check:active+.btn-outline-dark, .btn-check:checked+.btn-outline-dark, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active{
    color: #fff;
    background-color: #313335;
    border-color: #313335;
}
.btn-light:hover,.btn-light:focus,.btn-outline-light:hover,.btn-outline-light:focus,.btn-check:active+.btn-outline-light, .btn-check:checked+.btn-outline-light, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show, .btn-outline-light:active{
    color: #333;
    background-color: #e4e2e2;
    border-color: #e4e2e2;
}
.bg-primary {
    background-color: #2c7cfd !important;
}
.bg-danger {
    background-color: #ed5449 !important;
}
.bg-info {
    background-color: #4dd8fc !important;
}
.bg-warning {
    background-color: #fbbd04 !important;
}
.bg-success {
    background-color: #47b164 !important;
}
.bg-secondary {
    background-color: #94989b !important;
}
.bg-dark {
    background-color: #4a4e51 !important;
}
.alert-primary {
    color: #fff;
    background-color: #2c7cfd;
    border-color: #2c7cfd;
}
.alert-danger {
    color: #fff;
    background-color: #ed5449;
    border-color: #ed5449;
}
.alert-info {
    color: #fff;
    background-color: #4dd8fc;
    border-color: #4dd8fc;
}
.alert-warning {
    color: #fff;
    background-color: #fbbd04;
    border-color: #fbbd04;
}
.alert-success {
    color: #fff;
    background-color: #47b164;
    border-color: #47b164;
}
.alert-secondary {
    color: #fff;
    background-color: #94989b;
    border-color: #94989b;
}
.alert-dark {
    color: #fff;
    background-color: #4a4e51;
    border-color: #4a4e51;
}
.alert-light {
    color: #333;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}
.text-primary {
    color: #2c7cfd !important;
}
.text-danger {
    color: #ed5449 !important;
}
.text-info {
    color: #4dd8fc !important;
}
.text-warning {
    color: #fbbd04 !important;
}
.text-success {
    color: #47b164 !important;
}
.text-secondary {
    color: #94989b !important;
}
.text-dark {
    color: #4a4e51 !important;
}
.border-primary {
    border-color: #2c7cfd !important;
}
.border-danger {
    border-color: #ed5449 !important;
}
.border-info {
    border-color: #4dd8fc !important;
}
.border-warning {
    border-color: #fbbd04 !important;
}
.border-success {
    border-color: #47b164 !important;
}
.border-secondary {
    border-color: #94989b !important;
}
.border-dark {
    border-color: #4a4e51 !important;
}
.btn-outline-primary {
    color: #2c7cfd;
    border-color: #2c7cfd;
}
.btn-outline-danger {
    color: #ed5449;
    border-color: #ed5449;
}
.btn-outline-info {
    color: #4dd8fc;
    border-color: #4dd8fc;
}
.btn-outline-warning {
    color: #fbbd04;
    border-color: #fbbd04;
}
.btn-outline-success {
    color: #47b164;
    border-color: #47b164;
}
.btn-outline-secondary {
    color: #94989b;
    border-color: #94989b;
}
.btn-outline-dark {
    color: #4a4e51;
    border-color: #4a4e51;
}
.btn-outline-light {
    color: #333;
    border-color: #f1f1f1;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
    color: #fff;
    background-color: #276ee0;
    border-color: #276ee0;
}
.btn-check:active+.btn-danger, .btn-check:checked+.btn-danger, .btn-danger.active, .btn-danger:active, .show>.btn-danger.dropdown-toggle{
    color: #fff;
    background-color: #dc4d42;
    border-color: #dc4d42;
}
.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle{
    color: #fff;
    background-color: #4bc8e8;
    border-color: #4bc8e8;
}
.btn-check:active+.btn-warning, .btn-check:checked+.btn-warning, .btn-warning.active, .btn-warning:active, .show>.btn-warning.dropdown-toggle{
    color: #fff;
    background-color: #eab104;
    border-color: #eab104;
}
.btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle{
    color: #fff;
    background-color: #42a25c;
    border-color: #42a25c;
}
.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #76797b;
    border-color: #76797b;
}
.btn-check:active+.btn-dark, .btn-check:checked+.btn-dark, .btn-dark.active, .btn-dark:active, .show>.btn-dark.dropdown-toggle{
    color: #fff;
    background-color: #313335;
    border-color: #313335;
}
.btn-check:active+.btn-light, .btn-check:checked+.btn-light, .btn-light.active, .btn-light:active, .show>.btn-light.dropdown-toggle{
    color: #333;
    background-color: #e4e2e2;
    border-color: #e4e2e2;
}*/
.js-Pjax { position: relative } /* parent element where switch will be made */

.js-Pjax-child { width: 100% }

/* position for the elements that will be removed */
.js-Pjax-remove {
  position: absolute;
  left: 50%;
  /* transform: translateX(-50%) */
  /* transform can't be used since we already use generic translate for the remove effect (eg animate.css) */
  /* margin-left: -width/2; // made with js */
  /* you can totally drop the margin-left thing from switchesOptions if you use custom animations */
}
.card {
    border: 1px solid rgba(0,0,0,.07);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;  
}
.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgb(255 255 255 / 0%);
    border-bottom: 1px solid rgba(0,0,0,.07);
}
.card.card-custom {
    border: 0;
    box-shadow: 0 0 20px 0 rgb(76 87 125 / 2%);

    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;  
}
.card-hover:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;  
}
.table th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: #9598ad;
    white-space: nowrap;
}
.form-check {
    display: block;
    min-height: 0;
    padding-left: 1.5em;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;  
}
.form-check-input:checked {
    background-color: #009ef7;
    border-color: #009ef7;
}
.form-check-input {
    border: 2px solid #d1d5d9;
    background-color: #d1d5d9;
    width: 1.4em;
    height: 1.4em;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;  
}
.table>:not(caption)>*>* {
    padding: 10px 5px;
}
tbody, td, tfoot, th, thead, tr {
    border-color: rgba(0,0,0,.07);
    color: #6a6e83;
    font-size: 12px;
}
.table>:not(:last-child)>:last-child>* {
    border-color: rgba(0,0,0,.07);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(245 248 250 / 50%);
}
.table-bordered>:not(caption)>*>* {
    border-width: 0 0.5px;
}
.form-switch .form-check-input {
    margin-left: -1.5em;
    width: 3.5em;
    height: 2.2em;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;    
}
.form-switch .form-check-input:hover {
    /*border-color: #fff;*/
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.table-hover>tbody>tr:hover {
    --bs-table-accent-bg: rgb(234 241 247 / 42%);
}


/* CSS animations */
.Animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

.Animated--reverse { animation-direction: reverse }

.Animate--fast { animation-duration: .5s }
.Animate--noDelay { animation-delay: 0s !important;  }

.Animate--slideInRight { animation-name: Animation-slideInRight }

@keyframes Animation-slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem);
  }

  100% {
    transform: translateX(0);
  }
}

.Animate--slideInLeft { animation-name: Animation-slideInLeft }

@keyframes Animation-slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }

  100% {
    transform: translateX(0);
  }
}
.loadding-spinners {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #ffffff94;
    z-index: 999;
    justify-items: center;
    padding: 10%;
    overflow-y: hidden;
}
.filler {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8.5px 11px;
    color: #7b7d91;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    transition: all .3s;
}
.form-control {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8.5px 11px;
    color: #455560;
    line-height: 1.5;
    background-color: #f5f8fa;
    background-image: none;
    border: 1px solid #f5f8fa;
    border-radius: 6px;
    transition: all .3s;
    font-size: 13px;
}
.form-select {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8.5px 11px;
    color: #455560;
    line-height: 1.5;
    background-color: #f5f8fa;
    background-image: none;
    border: 1px solid #f5f8fa;
    border-radius: 6px;
    transition: all .3s;
    font-size: 13px;
}
.input-group-text {
    border-radius: .625rem;
    background-color: #e6ebf1;
    border: 1px solid #e6ebf1;
    font-size: inherit;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 2.5px 11px;
    color: #455560;
    line-height: 1.5;
    background-color: #f5f8fa;
    background-image: none;
    border: 1px solid #f5f8fa;
    border-radius: 6px;
    transition: all .3s;
    min-height: 38px;
    font-size: 13px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f1f1f1;
    border: 1px solid #eef1f5;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
     margin-top: 5px; 
     margin-left: 5px; 
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 25px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #e6ebf1;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding:0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}
.select2-container--open .select2-dropdown--below {
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 20px 20px 0px rgb(82 63 105 / 15%);
    border: 1px solid #e6ebf1;
}
.select2-container--open .select2-dropdown--above {
    border-radius: 10px 10px 0 0;
    box-shadow: 0px -5px 20px 0px rgb(82 63 105 / 15%);
    border: 1px solid #e6ebf1;
}
.select2-container--default .select2-results__option--selected {
    background-color: #eaf1f7;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3699FF;
    color: white;
}
.select2-container--default .select2-dropdown--below .select2-results__option--highlighted.select2-results__option--selectable:last-child {
    background-color: #3699FF;
    color: white;
    border-radius: 0 0 10px 10px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8.5px 11px;
    color: #455560;
    font-size: 13px;
    line-height: 1.5;
    background-color: #f5f8fa;
    background-image: none;
    border: 1px solid #f5f8fa;
    border-radius: 6px;
    transition: all .3s;
}
.select2-results__option--selectable {
    cursor: pointer;
    padding: 10px;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus-visible {
    outline: none;
}
.fixed-action-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  padding: 0 0 0 15px;
}
.fixed-action-btn .btn {
    display: flex;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 45px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.fixed-action-btn .btn.btn-large {
  width: 70px;
  height: 70px;
} 
.fixed-action-btn .btn:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.fixed-action-btn .btn i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  line-height: 45px;
}
.fixed-action-btn .btn.btn-large i {
  line-height: 70px;
  font-size: 25px;
}
.fixed-action-btn ul {
  text-align: right;
  right: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  left: auto;
  width: 500px;
  position: absolute;
  bottom: 64px;
  margin: 0;
  visibility: hidden;
  list-style: none;
}
.fixed-action-btn ul li {
    display: inline-block;
    margin: 15px 15px 0 0;
}
.fixed-action-btn:hover ul{
  visibility: visible;
}
.fixed-action-btn ul li a {
  transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
  opacity: 0;
}
.fixed-action-btn:hover ul li a {
  transform: scaleY(1) scaleX(1) translateY(0px) translateX(0px);
  opacity: 1;
}
.paginations .pagination {
    margin-top:10px;
}
.paginations .pagination .page-item {
    margin:5px;
}
.paginations .pagination .page-item .page-link {
    color: #333;
    background-color: #eaf1f7;
    border-color: transparent;
    border-radius: 10px;
}
.paginations .pagination .page-item .page-link-hide {
    background-color: transparent
}
.paginations .pagination .page-item .page-link:hover {
    background-color: #d0dde8;
}
.paginations .pagination .page-item.active .page-link {
    color: #FFFFFF;
    background-color: #3699FF;
}
.paginations .dropdown .dropdown-menu {
    min-width: 50px;
    box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
    border: none;
    padding:0;
    border-radius: 10px;
}
.paginations .dropdown .dropdown-menu li .dropdown-item {
    font-size: 13px;
    padding:10px;
    border-bottom: 1px solid #f1f1f1;
}
.paginations .dropdown .dropdown-menu li .dropdown-item:hover {
    background-color: #3699ff;
    color: #fff;
}
.paginations .dropdown .dropdown-menu li:last-child .dropdown-item {
    border-bottom: none;
}
.paginations .dropdown .dropdown-menu li:last-child .dropdown-item:hover {
    border-radius:  0 0 10px 10px;
}
.paginations .dropdown .dropdown-menu li:first-child .dropdown-item:hover {
    border-radius: 10px 10px 0 0;
}
.notification .notification-list {
    width: 350px;
    border-radius:10px;
    border-color:#f1f1f1;
    box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
}
.notification .notification-list .notification-header {
    border-radius: 10px 10px 0 0
}
.notification .notification-list .list-group{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.notification .notification-list .list-group .list-group-item {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #f1f1f1;
}
.notification .notification-list .list-group .list-group-item a {
    width: 100%
}
.notification .notification-list .list-group .list-group-item p {
    font-size: 14px;
}
.notification .notification-list .list-group .list-group-item small {
    font-size: 12px;
}
.notification .notification-list .notification-footer {
    border-radius: 0 0 10px 10px
}
.notification .notification-list .list-group .list-group-item:hover {
    background-color: #f1f1f1;
}
@media (max-width: 767px){
    .page .nav-menu,.page.nav-menu-small .nav-menu {
        width: 0px;
    }
    .page .eclo-content,.page.nav-menu-small .eclo-content {
        margin-left: 0px;
    }
    .page.nav-menu-mobile .nav-menu {
        width: 100%
    }
    .page.nav-menu-mobile .nav-menu:hover {
        width: 100%;
    }
    .page.nav-menu-small .nav-menu .nav-menu-items .nav-menu-link span{
        display: none;
    }
    .page.nav-menu-small .nav-menu .nav-menu-items .nav-menu-item .accordion-collapse.show {
       display: none
    }
    .page.nav-menu-mobile .nav-menu .nav-menu-items .menu-section i {
        opacity: 0;
    }
    .page.nav-menu-small .nav-menu .nav-menu-items .menu-section .menu-text  {
        opacity: 1;
    }
    .page.nav-menu-mobile .nav-menu .nav-menu-items .nav-menu-link span,
    .page.nav-menu-mobile .nav-menu .nav-menu-items .menu-section .menu-text  {
        display: initial;
    }
    .page.nav-menu-mobile .nav-menu .nav-menu-items .nav-menu-item .accordion-collapse.show{
        display: block !important;
    }
    .btn-fixed,.page.nav-menu-small .btn-fixed{
        padding-left: 0 !important;
    }
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}
.input-group .select2-container--default .select2-selection--single, .input-group .select2-container--default .select2-selection--multiple {
    border-radius:.625rem 0  0 .625rem;
}
.input-group .btn {
    line-height: 28px;
    border-radius: 0  .625rem .625rem 0;
}
.input-group:not(.has-validation)>.select2-container--default .select2-selection--single, .input-group .select2-container--default .select2-selection--multiple {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .input-group-button .select2-container--default .select2-selection--single, .input-group .select2-container--default .select2-selection--multiple {
    border-radius: 0 0.625rem 0.625rem 0;
}
.btn-fixed {
    position: fixed;
    left: 0;
    bottom: 0px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
    width: 100%;
    background: #fff;
    text-align: right;
    padding: 10px 20px 10px 290px;
    border-top: 1px solid #f1f1f1;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.page.nav-menu-small .btn-fixed {
    padding-left: 70px;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.rounded-10 {
    border-radius: 10px;
}
.rounded-10 .card-header:first-child {
    border-radius: 10px;
}
.modal-content {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    border: 0;
    border-radius: .475rem;
}
.modal-backdrop.show {
    opacity: .3;
}
.daterangepicker {
    font-family: inherit;
}
/* dark */
.eclo-dark {
    background-color: #192039!important;
    color: #eee;
}
.eclo-dark .logo{
    fill: #fff !important;
}
.eclo-dark .card {
    background: #121a35 !important;
}
.eclo-dark .form-control {
    background-color: #07102e;
    border-color: #07102e;
    color: #eee;
}
.eclo-dark .text-dark,.eclo-dark .link-dark {
    color: #eee !important;
}
.page.eclo-dark .nav-menu {
    background: #121a35 !important;
    border-color: #121a35 !important;
}
.page.eclo-dark .header-top {
    background: #101830 !important;
}
.page.eclo-dark .nav-menu .nav-menu-items .nav-menu-item:hover .nav-menu-link, .page.eclo-dark .nav-menu .nav-menu-items .nav-menu-link.active {
    background-color: #07102e;
}
.page.eclo-dark .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link span ,.page.eclo-dark .nav-menu .nav-menu-items .nav-menu-link span {
    color: #888b9b;
}
.page.eclo-dark .select2-container--default .select2-selection--single {
    background-color: #07102e !important;
    border-color: #07102e !important;
}
.eclo-dark .select2-dropdown {
    background-color: #07102e;
}
.eclo-dark .select2-container--open .select2-dropdown--below {
    border-color:#0f162c;
}
.eclo-dark .select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #192039;
    border-color:#192039;
}
.eclo-dark .select2-container--default .select2-results__option--selected {
    background-color: #0f162c;
}
.eclo-dark .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #eee;
}
.eclo-dark tbody, .eclo-dark td, .eclo-dark tfoot, .eclo-dark th, .eclo-dark thead, .eclo-dark tr {
    border-color: #07102e;
}
.eclo-dark .table{
    color: #eee !important;
}
.eclo-dark .table-striped>tbody>tr:nth-of-type(odd) {
    color: #eee !important;
    background: #0f162d !important;
}
.eclo-dark .table-hover>tbody>tr:hover {
    --bs-table-accent-bg: rgb(7 16 46) !important;
    color: #eee;
}
.eclo-dark .table>:not(:last-child)>:last-child>* {
    border-color: #192039;
}
.eclo-dark .btn-light {
    color: #eee;
    background-color: #020d31;
    border-color: #020d31;
}
.eclo-dark .btn-light:hover {
    color: #eee;
    background-color: #000514;
    border-color: #000514;
}
.eclo-dark .form-switch .form-check-input {
    border-color: #0f162c;
}
.eclo-dark .form-check .form-check-input {
    border-color: #3b3b3b;
    background-color: #07102e;
}
.eclo-dark .modal-content {
    background-color: #192039;
}
.eclo-dark .modal-header ,.eclo-dark .modal-footer {
    border-color: #07102e;
}
.eclo-dark .bg-light {
    background-color: #020d31!important;
}
.eclo-dark .dropdown-menu {
    background: #07102e !important;
}
.eclo-dark .paginations .dropdown .dropdown-menu li .dropdown-item {
    border-color: #192039;
    color: #eee;
}
.eclo-dark .dropdown-item {
    color: #eee;
}
.eclo-dark .header-top .accounts .dropdown-menu .accounts-info {
    background: #0f162c;
    color: #eee;
}
.eclo-dark .header-top .accounts .dropdown-menu .dropdown-item:hover {
    background: #2c7cfd !important;
}
.eclo-dark .notification .notification-list {
    border-color: transparent;
}
.eclo-dark .notification .notification-list .list-group .list-group-item:hover {
    background-color: #192039;
}
.eclo-dark .notification .notification-list .list-group .list-group-item {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #0f162c;
}
.eclo-dark .list-group-item {
    background-color: #121a35;
}
.eclo-dark .bg-white {
    background-color: #121a35!important;
}
.eclo-dark .daterangepicker {
    background-color: #07102e;
    border-color: #101830;
}
.eclo-dark .daterangepicker .calendar-table {
    border: 1px solid #07102e;
    border-radius: 4px;
    background-color: #07102e;
}
.eclo-dark .daterangepicker td.off,
.eclo-dark  .daterangepicker td.off.in-range,
.eclo-dark  .daterangepicker td.off.start-date,
.eclo-dark  .daterangepicker td.off.end-date {
    background-color: #0f162c;
    border-color: transparent;
    color: #999;
}
.eclo-dark .daterangepicker td.in-range {
    background-color: #1a2139;
    border-color: transparent;
    color: #eee;
}
.eclo-dark .daterangepicker.show-ranges.ltr .drp-calendar.left ,.eclo-dark .daterangepicker .drp-buttons {
    border-color: #383838;
}
.eclo-dark .daterangepicker .drp-buttons .btn {
    color: #fff;
}
.eclo-dark .paginations .pagination .page-item .page-link {
    color: #eee;
    background-color: #07102e;
}
.eclo-dark .paginations .pagination .page-item .page-link:hover {
    color: #eee;
    background-color: #3699FF;
}
.eclo-dark .paginations .pagination .page-item.active .page-link {
    color: #FFFFFF;
    background-color: #3699FF !important;
}
.eclo-dark .swal2-popup {
    background: #050810;
}
.eclo-dark .input-group-text {
    border-radius: .625rem;
    background-color: #090d1b;
    border: 1px solid #121a35;
    font-size: inherit;
}
.eclo-dark .input-group-text {
    color: #eee;
}
.filler-details {
    width: 300px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 28px 0 rgb(0 0 0 / 18%);
}
.eclo-dark .filler {
    background-color: #07102e;
    border-color:#07102e ;
}
.eclo-dark .border {
    border: 1px solid #343539!important;
}
.search-form {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.search-form .filler{
    padding: 14.2px 11px;
    border-radius: 10px;
}
.search-form .filer-item {
    margin-bottom: 10px;
}
.search-form .form-control {
    border-radius: 10px;
    height: 50px;
    border-left: 0;
}
.search-form label {
    font-size: 12px;
}
body.swal2-height-auto {
    height: 100vh;
}
.eclo-dark .filler-details.dropdown-menu {
    background: #101830!important;    
    color: #9292a3;
    box-shadow: 0px 0px 20px #050c23;
}
.eclo-dark .filler.border {
    border: 1px solid #07102e!important;
}
.nav-pills .nav-link {
    background-color: #f1f1f1;
    color: #333;
}
.eclo-dark .nav-pills .nav-link {
    background-color: #07102e;
}
.eclo-dark .nav-pills .nav-link.active, .eclo-dark .nav-pills .show>.nav-link, .nav-pills .nav-link.active {
    color: #fff;
    background-color: #009ef7;
}
.eclo-dark .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(245 248 250 / 0%);
}
.eclo-dark .nav-menu .nav-menu-items .nav-menu-item:hover .nav-menu-link span, .eclo-dark .nav-menu .nav-menu-items .nav-menu-link.active span {
    color: #009ef7;
}
.eclo-dark .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link:hover span, 
.eclo-dark .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link:hover i, 
.eclo-dark .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link.active span, 
.eclo-dark .nav-menu .nav-menu-items .nav-menu-items-sub .nav-menu-sub-link.active i {
    color: #009ef7;
}
.eclo-dark .search-form label {
    color: #7b7f90;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 57px;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.projects-bar .nav-link {
    font-weight: bold;
    padding: 14px 20px  !important;
    margin-right: 10px;
    color: #6c6c6c;
}
.projects-bar .nav-link.active, .projects-bar .nav-link:hover {
    border-bottom: 5px solid #009ef7;
    color: #009ef7;
}
.svg-icon svg [fill]:not(.permanent):not(g) {
    transition: fill .3s ease;
    fill: #a1a5b7;
}
.border {
    border: 1px solid rgb(0 0 0 / 7%)!important;
}
.border-bottom {
    border-bottom: 1px solid rgb(0 0 0 / 7%)!important;
}
.border-top {
    border-top: 1px solid rgb(0 0 0 / 7%)!important;
}
.rounded-10 {
    border-radius: 10px;
}
.table-font-10 td, .table-font-10 th {
    font-size: 10px;
}
.bg-indigo {
    background-color: var(--bs-indigo);
}
.timecode-plan {
    cursor:pointer;
}
.font-size-10 {
    font-size: 10px;
}
.bg-opacity-20 {
    --bs-bg-opacity: .20;
}
.bg-opacity-15 {
    --bs-bg-opacity: .15;
}
.bg-opacity-10 {
    --bs-bg-opacity: .10;
}
.bg-opacity-5 {
    --bs-bg-opacity: .05;
}
.datas-files {
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 150px;
}
.notification-views .position-fixed{
    z-index: 999999;
}
.chat {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-direction: row-reverse;
    /*z-index: 2000;*/
}
.chat .chat-user{
    background: #fff;
    width: 300px;
    margin: 0 5px 0 5px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 11px rgb(0 0 0 / 15%);
}
.chat .chat-user:focus {
    color: #dc3545;
}
.chat .chat-user .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}
.chat .chat-user .chat-header .chat-header-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.chat .chat-user .chat-header .chat-header-start img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}
.chat .chat-user .chat-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    padding: 10px;
}
.chat .chat-user .chat-footer {
    padding: 10px;
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: space-between;
}
.chat .chat-user .chat-footer .chat-content {
    background: #f1f1f1;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: center;
}
.chat .chat-user .chat-footer .chat-content .chat-content-input{
    overflow-y: auto;
    max-height: 100px;
    width: 100%;
}
.chat .chat-user .chat-footer .chat-content .chat-content-input:focus {
    outline: none;
}
.chat .chat-user .chat-body  .chat-content-user .chat-content {
    display: inline-block;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 20px;
}
.chat .chat-user .chat-body .chat-content-user{
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.chat .chat-user .chat-body  .chat-content-send .chat-content {
    display: inline-block;
    background: #0d6efd;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
}
.chat .chat-user .chat-body .chat-content-send{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chat-small {
    position: fixed;
    right: 5px;
    bottom: 0;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
}
.chat-small .chat-user-thumb {
    position: relative;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 100%;
    padding: 3px;
    margin: 2px;
    box-shadow: 0px 5px 11px rgb(0 0 0 / 15%);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.chat-small .chat-user-thumb img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.chat-small .chat-user-thumb:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.chat-online-status {
    font-size: 12px;
}
.chat-online-status .chat-online-icon {
    width:8px;
    height: 8px;
    border-radius: 100%;
}
.chat-small .chat-user-thumb .chat-online-status{
    position: absolute;
}
.chat-small .chat-user-thumb .chat-online-status .chat-online-text{
    display: none;
}
.chat-small .chat-user-thumb .chat-online-status .chat-online-icon{
    width: 12px;
    height: 12px;
}
.chat-small .chat-user-thumb .chat-number-notifi {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ed5449;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 9px;
}
.chat-small .chat-user-thumb .chat-number-notifi.show{
    width: 20px;
    height: 20px;
}
/* org-chart */
.org-chart, .org-chart .org-chart-items, .org-chart .org-chart-content {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}
.org-chart .org-chart-first-button {
    position: relative;
    z-index: 999;
}
.org-chart {
    padding-bottom:30px ;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
.org-chart, .org-chart .org-chart-items {
    display: table;
}
.org-chart .org-chart-items {
  width: 100%;
  margin: 3px 0;
}
.org-chart .org-chart-content {
    display: table-cell;
    padding: 4px;
    vertical-align: top;
}
.org-chart .org-chart-content:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.org-chart .org-chart-content:first-child:before {left: 50%;}
.org-chart .org-chart-content:last-child:before {right: 50%;}

.org-chart .org-chart-card {
    display: inline-block;
    position: relative;
}
.org-chart .org-chart-card {
    margin: 20px;
}
.org-chart .org-chart-items:before,
.org-chart .org-chart-card:before,
.org-chart span:before {
    outline: solid 1px #666;
    content: "";
    height: 20px;
    left: 50%;
    position: absolute;
}
.org-chart .org-chart-items:before {
    top: -21px;
}
.org-chart .org-chart-card:before,
.org-chart span:before {
    top: -24px;
}
.org-chart > .org-chart-content {
    margin-top: 0;
}
.org-chart > .org-chart-content:before,
.org-chart > .org-chart-content:after,
.org-chart > .org-chart-content > .org-chart-card:before,
.org-chart > .org-chart-content > span:before {
  outline: none;
}
.org-chart-card {
    min-width: 250px;
    text-align: center;
    position: relative;
    display: flex;
    margin: 0 auto;
}
.org-chart-card .org-chart-sub {
    display: none;
    position: absolute;
    bottom: -10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1200;
}
.org-chart-card .org-chart-sub .btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1200;
    position: relative;
}
.org-chart-card:hover .org-chart-sub {
    display: flex;
}
.org-chart-card .dropdown-menu {
    padding: 0;
    z-index: 1200;
    position: relative;
}
.org-chart-card .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 5px;
}
.org-chart-card .org-chart-sub-items {
    padding: 10px;
}
.org-chart .org-chart-card:hover,.org-chart .org-chart-card:hover+.org-chart-items .org-chart-card{
    /*transform: scale(1.1) translate(0,5px);
    -webkit-transform: scale(1.1) translate(0,13px);
    -moz-transform: scale(1.1) translate(0,5px);
    -ms-transform: scale(1.1) translate(0,5px);
    -o-transform: scale(1.1) translate(0,5px);*/
    z-index: 1;
    position: relative;
    border: 1px solid red;
}
.org-chart .org-chart-card:hover .dropdown-menu {
    z-index: 12000;
}
.org-chart .org-chart-card:hover::before,
.org-chart .org-chart-card:hover+.org-chart-items:before,
.org-chart .org-chart-card:hover+.org-chart-items .org-chart-card:before,
.org-chart .org-chart-card:hover+.org-chart-items .org-chart-items:before,
.org-chart .org-chart-card:hover+.org-chart-items .org-chart-content:before{
    outline-color:  red;
    /*transform: scale(1);*/
}
.table-responsive {
    /*overflow-x: hidden;*/
    /*width: 100%;*/
}
.table.dataTable {
    width: 100% !important;
}
.dataTables_scrollHead .table {
    margin-bottom: 0;
}
/* chat */
.message {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
}
.message-online-list .message-online-icon {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0px;
    border: 2px solid #fff;
}
.message-online-list .message-online-text{
    display: none;
}
.message-list {
    height: calc(100vh - 18.1rem);
    overflow-y: auto;
}
.message-content-main {
    height: calc(100vh);
}
.message-chat {
    height: 100vh;
    top: 1px;
    left: 1px;
}
.message-list-items-avatar {
    width: 70px;
}
.message-list-items-avatar .user-message-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border: 1px solid #eee;
    font-weight: bold;
}
.message-list-items-avatar.message-group-items-avatar{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.message-list-items-avatar.message-group-items-avatar .user-message-avatar{
    width: 25px;
    height: 25px;
}
.message-list-items{
    padding: 10px;
    border-radius: 6px;
}
.message-list-items:hover {
    background-color: #f5f8fa;
    cursor: pointer;
}
.message-chat{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: calc(100vh - 5.9rem);
}
.message-header  {
    border-bottom: 1px solid #eee;
}
.message-body {
    overflow-y: auto;
    background-color: #f5f8fa;
}
.message-footer  {
    border-top: 1px solid #eee;
}
.message-tool {
    border-bottom: 1px solid #ccc
}
.message-input {
    min-height: 60px;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
}
.message-input:focus{
    outline: none;
    border: 0;
}
.message-body .message-content-send {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.message-body .message-content-send .message-chat-content {
    display: inline-block;
    background: #0d6efd;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    box-shadow: 1px 1px 1px #eee;
    max-width: 80%;
}
.message-body .message-content-user {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.message-body .message-content-user .message-chat-content {
    display: inline-block;
    background: #e9eef1;
    padding: 10px;
    border-radius: 20px;
    color: #333;
    box-shadow: 1px 1px 1px #eee;
    max-width: 80%;
}
.list-views-avatar {
    position: relative;
}
.list-views-avatar div:first-child{
    margin-left: 0;
}
.list-views-avatar div {
    position: relative;
    margin-left: -15px;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.list-views-avatar div:hover {
    z-index: 1;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
.user-avatar {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #eee;
    border-radius: 6px;
} 
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #eee;
    border-radius: 6px;
}
.emojionearea .emojionearea-editor {
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 8.5px 11px;
    color: #455560;
    line-height: 1.5;
    background-color: #f5f8fa;
    background-image: none;
    border: 1px solid #f5f8fa;
    border-radius: 6px;
    transition: all .3s;
    font-size: 13px;
}
.emojionearea, .emojionearea.form-control {
    border:none;
    background: none;
    border-radius: none;
}
.emojionearea.focused{
    box-shadow: none;
}
.emojionearea .emojionearea-picker .emojionearea-search>input {
    color: #455560;
    background-color: #f5f8fa;
    border-radius: 6px;
    border: 1px solid #f5f8fa;
    padding: 10px;
}
/* time line */
.vis-item {
    border:0px;
    background: transparent;
}
.vis-item.vis-range {
    border-radius: 40px;
}
.vis-item .vis-item-content {
    padding: 0;
}
.vis-timeline-bg {
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 40px;
    opacity: 0.5;
    z-index: -1;
}
.vis-timeline-bg-completed {
    position: absolute;
    height: 100%;
    border-radius: 40px;
    z-index: -1;
}
.vis-item .vis-item-overflow {
    padding: 2px;
}
.vis-timeline-items .user-avatar {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.vis-labelset .vis-label {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    color: inherit;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    align-items: center;
    border: 1px solid #f3f3f3;
}
.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top {
    border: 1px solid #f3f3f3;
}
.vis-foreground .vis-group {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
}
.vis-timeline {
    position: relative;
    border: 1px solid #f3f3f3;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.table .dropdown-toggle::after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.table .dropdown-menu {
    position: absolute;
    z-index: 1000;
/*    display: none;*/
/*    min-width: 10rem;*/
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    box-shadow: 0px 1px 20px 0px rgb(85 85 85 / 32%);
    border-radius: 6px;
}
.table .dropdown-menu .dropdown-item {
    padding: 10px 20px;
    font-size: 13px;
    color: #7b7d91;
}
.table .dropdown-menu .dropdown-item:hover {
    background: #fafafa;
}